[submodule "website/grafana"]
	path = website/grafana
	url = https://github.com/liuweiseu/panoseti-grafana.git
[submodule "website/apache2/web"]
	path = website/apache2/web
	url = https://github.com/panoseti/panoseti_web.git
